{% extends "core/base.html" %}

{% block title %}
    Password change
{% endblock title %}

{% block content %}
    <div class="row">
        <div class="col-md-4 offset-md-4 p-5 shadow rounded">
            <h1>Change password</h1>
            <form action="{% url "seller_password_change" %}" method="post" novalidate>
                {% include "core/components/form.html" %}
                <button type="submit" class="btn btn-success w-100">Change password</button>
            </form>
        </div>
    </div>
{% endblock content %}