SECRET_KEY=your_secret_key
DBNAME=your_db_name
DBUSER=postgres
DBPASS=postgres
DBHOST=127.0.0.1
DBPORT=5432

# smtp
EMAIL_HOST=you_host
EMAIL_HOST_USER=your_user
EMAIL_HOST_PASSWORD=your_password
EMAIL_PORT=1234